* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.main {
  background-color: #031b32;
  height: 100vh;
  width: 100%;
}
.nav1 {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px 0px 100px;
  color: white;
}
.nav1 ul {
  display: flex;
  list-style: none;
}
.nav1 ul li {
  margin: 0 5px;
}
.nav1 ul li a {
  text-decoration: none;
  font-size: 18px;
  padding: 8px 10px;
}
.nav1 ul li a:hover {
  color: yellow;
}
.head {
  color: #2e8af0;
  text-align: center;
  font-size: 10rem;
  font-family: Arial, Helvetica, sans-serif;
}
.head2{
  color: white;
  text-align: center;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}
.head3 {
  color: white;
  text-align: center;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 2rem;
}
.search12 {
  width: 50%;
  height: 30px;
}
.search1 {
  text-align: center;
  width: 100%;
  padding-top: 30px;
}
.classname {
  border-radius: 20px !important;
  background-color: whitesmoke !important;
  padding-left: 1rem;
}
.hide-outline{
    outline: none !important;
    border: none !important;
}
@media(max-width:550px){
  nav{
    padding: 0px;
  }
}
