<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="demo.css">
    <title>Demo</title>
</head>
<body>
    <nav>
        <img  class ="logo" src="../../image/demo.png" alt="logo" srcset="">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Service</a></li>
            <li><a href="#">Mentorship</a></li>
            <li><a href="#">Feedback</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <ul class="media">
            <li class="fa"> <i class="fab fa-facebook"></i></li>
            <li class="insta"> <i class="fab fa-instagram"></i></li>
            <li class="yt">  <i class="fab fa-youtube"></i></li>
        </ul>
    </nav>
    <section class="main">
        <div>
        <h6>How To Grow in LIFE ?</h6><br>
        <h1>Instead Of Waiting For <br> Opportunities, Invest Your <br>
            Time To Create Them.</h1>
        </div>
        <div>
            <img  class="img" src="../../image/hero-image.png" alt="" srcset="">
        </div>
    </section>
    <button class="btn">About Me</button>

        
</body>
</html>